.navbar {
  margin-bottom: 20px;
}

.card {
    
    margin-bottom: 20px;
    
}

.card-panel{
    
    color: #fff;
    
}

.card1{
    
    background-color: #42AAC7;
}

.card2{
    
    background-color: #3DB680;
}

.card3{
    
    background-color: #FFEE55;
}

.card4{
    
    background-color: #F3C759;
}

.card5{
    
    background-color: #E6855E;
}

.card6{
   
    background-color: #CE579B;
}
